{% extends "base.html" %}
{% block JumbotronContents %}
    <div class="jumbotron jumbo_center">
      <p>MS&E 273 teaches the process of entrepreneurship. Some alumni use knowledge gained in this course to launch high-tech
      ventures or join startups. Others have gone on to work in venture capital, consulting, and more established technology
      companies.</p>
      <h3>Companies recently launched by MS&E 273 alumni</h3> 
    </div>
{% endblock %}


{% block PageContents %}
  
	<div id="alum_teams">

      <table class="table" cellspacing="10">
        <tr>
          <td valign="top"><img src="assets/img/companies/moasis.png" /></td>
          <td>
            <strong><a href="http://www.moasisgel.com/" target="blank">mOasis</a></strong>
      <br><br>
            <p>Innovative crop science. Championing economic and environmental sustainability in agriculture to ensure the continued competitiveness of American farmers.</p>

          </td>
        </tr>
        <tr>
          <td valign="top"><img src="assets/img/companies/aperia.png" /></td>
          <td>
            <strong><a href="http://www.aperiatech.com" target="blank">Aperia</a></strong>
      <br><br>
            <p>A revolutionary automatic tire inflation system for trucks &amp; trailers that bolts-on in minutes. Increased fuel efficiency &amp; extended tire life</p>

          </td>
        </tr>

		<tr>
          <td valign="top"><img src="assets/img/companies/BigSwitch_logo.png" /></td>
          <td>
            <strong><a href="http://www.bigswitch.com" target="blank">Big Switch Networks</a></strong>
			<br><br>
            <p>Big Switch Networks is delivering on the promise of Open Software-
			Defined Networking (SDN) providing customers the widest range of options
			and the most value out of their network. They deliver a highly scalable 
			Open SDNTM platform, Network Virtualization, and applications for customers
			whose business is impacted by limitations of both their virtual and physical
			infrastructure. Co-founder Kyle Forster is an MS&E 273 Alum.</p>

          </td>
        </tr>

        <tr>
          <td valign="top"><img src="assets/img/companies/Motiv_logo.png" /></td>
          <td>
            <strong><a href="http://www.motivps.com" target="blank">Motiv Power Systems</a></strong>
            <br><br>
            <p>Motiv is an engineering design firm with expertise in medium level (1kW-1MW) 
			power systems and control.  Their mission is to become a leader in power system 
			design. We develop IP critical to the cleantech industry and license it to clients 
			in the EV, renewable generation, and energy storage industries. CEO and Co-founder 
			Jim Castelaz is an MS&E 273 Alum.</p>
           
          </td>
        </tr>
		
		<tr>
          <td valign="top"><img src="assets/img/companies/Finesse_logo.png" /></td>
          <td>
            <strong><a href="http://www.finesse.com" target="blank">Finesse Solutions</a></strong>
            <br><br>
            <p>Finesse was founded to bring digital, plug-and-play solutions to life science customers,
			so as to improve the management of complex bio-process applications. The initial focus is on
			improving sensor, hardware, and software solutions for process control in the biotechnology
			and pharmaceutical industries. To date, their products include next generation single-use
			optical sensors, digitally-enabled hardware for plug-and-play process control, and easy-to-use
			software whose analytics scale from research into production. CEO Barbara Paldus is an MS&E 273 Alum.</p>
           
          </td>
        </tr>
		
		
		<tr>
          <td valign="top"><img src="assets/img/companies/Skybox_logo.png" /></td>
          <td>
            <strong><a href="http://www.skyboximaging.com" target="blank">Skybox Imaging</a></strong>
            <br><br>
            <p>Skybox Imaging is revolutionizing the use of satellite imagery and derived
			information products by developing the world's highest performance constellation
			of imaging microsatellites to deliver high resolution imagery of any spot on earth
			multiple times per day. Co-founders Dan Berkenstock and Julian Mann are MS&E 273 Alumni. Skybox was acquired by Google for $500M</p>
          </td>
        </tr>
		
		<tr>
          <td valign="top"><img src="assets/img/companies/Solum_logo.png" /></td>
          <td>
            <strong><a href="http://www.solum.ag" target="blank">Solum</a></strong>
            <br><br>
            <p>Solum, Inc. is revolutionizing precision agriculture, enabling growers to
			increase yield and reduce cost by applying crop nutrients in the right amount,
			at the right place, and at the right time through high accuracy soil measurements
			based upon the field moist method. Their proprietary hardware and software systems
			provide high-resolution soil nutrient information without adding cost to existing
			soil measurement practices. Co-founders Mike Preiner, Nick Koshnik and Justin White are MS&E 273 Alumni.</p>
    
          </td>
        </tr>

	<tr>
          <td valign="top"><img src="assets/img/companies/WiFiSlam_logo.png" /></td>
          <td>
            <strong><a href="http://www.wifislam.com" target="blank">WiFiSLAM</a></strong>
            <br><br>
            <p>WiFiSLAM is at the forefront of enabling the next generation of location-based applications 
			with microlocation ability. Their solution is accurate, efficient, and simple to use. The founding
			team is a mix of Stanford graduate students and ex-Googlers. Co-founders Joseph Huang and Joey Swicker
			are MS&E 273 Alumni. In March 2013 Apple acquired WiFiSLAM for $20M. </p>
    
          </td>
        </tr>

       <tr>
          <td valign="top"><img src="assets/img/companies/Docmunch_logo.png" /></td>
          <td>
            <strong><a href="http://www.docmunch.com" target="blank">Docmunch</a></strong>
            <br><br>
            <p>Docmunch helps companies transform unstructured sources - such as Excel files, PDFs, websites, and emails - 
                into a custom structured data feed. Docmunch was selected as 1 of 10 companies for StartX's Spring 2013 class.
               Co-founder Michael Feng is an MS&E 273 Alumnus. </p>
    
          </td>
        </tr>   
          
        <tr>
          <td valign="top"><img src="assets/img/companies/Memsql_logo.png" /></td>
          <td>
            <strong><a href="http://www.memsql.com" target="blank">MemSQL</a></strong>
            <br><br>
            <p>MMemSQL is a next generation database that removes the most common bottleneck most applications hit today: 
                disk. By offering a familiar relational interface to an in-memory data tier, MemSQL empowers developers 
                with the technology web-scale companies use to cope with massive traffic and growth. MemSQL was funded as 
                part of the Y-Combinator Winter 2011 class. Co-founder Eric Frenkiel is an MS&E 273 Alumnus.  </p>
    
          </td>
        </tr>
          
          
        <tr>
          <td valign="top"><img src="assets/img/companies/Sourcegraph_logo.png" /></td>
          <td>
            <strong><a href="http://sourcegraph.com" target="blank">Sourcegraph</a></strong>
            <br><br>
            <p>Sourcegraph is semantic code search for open source. The Sourcegraph search engine allows users to quickly
               find code and relevant examples of where it's used, thus reducing coding time. Co-founder Beyang Liu is an MS&E 273 Alumnus. </p>
    
          </td>
        </tr>  
		
      </table>
    </div>
	
	
<!--
Alumni Quotes =================================================================================================
-->
<!--
    <div id="alum_quotes">	
	
	<h3>MS&E 273 Alumni Quotes</h3>
	<p class="block"> 
	"A ton of work, and a great class!"
	<br />
	<br />"I will recommend this class to someone who wants to be an entrepreneur. This is a great class, exciting, but also, it is a lot of work, and if you don't love [entrepreneurship], you won't like it."
	<br />
	<br />"I absolutely would recommend this class to other students interested in starting a business. I think the class did a great job of focusing on the key aspects of starting a business without belabouring any point. It was fast-paced and challenging, which I like, and intense. It really opened my eyes to a whole world I was ignorant of before."
	<br />
	<br />"I would not recommend this to anyone who is not serious about it or does not have the time commitment. That fosters really bad team relations and is unfair to other teammates. I was glad to see that you made that very explicit in the beginning, so there were no surprises."
	<br />
	<br />"This was the best class I have taken at Stanford. [...] I learned a lot in the lectures, which is irregular for a non-homework type class, and learned even more working with my team. I spent probably double the time I have ever spent in any other course."
	<br />
	<br />"This class alone made coming to Stanford worth it!" 
	<br />
	<br />"MS&amp;E273 is hands down the best way to learn what life in a startup is like.  This was the most useful class I took throughout my two years at Stanford. I'm putting learning into action by pursuing my own startup."
	<br />
	<br />"The experience of 273 has helped immensely in our ability to write and present a focused and relevant plan for the company."
	<br />
	<br />"Beyond the tangible advice or skills learned, my biggest takeaway from the class was the impetus to stop talking about an idea and actually take steps to execute it."
	<br />
	<br />"The class provided a very realistic experience for entrepreneurial students to build a business plan from scratch and pitch to top-tier VCs." 
	<br />
	<br />"The class provides a balanced mix of lectures, speakers, and hands-on work. It's a great launchpad for aspiring student entrepreneurs and equally valuable for those who have entrepreneurial plans later in their lives." 
	</p>
</div>
-->
{% endblock %}