{% extends "base.html" %}

{% block PageContents %}
<div class="container core-frame">
  <div class="row core-block">
    <h4>Course Schedule</h4>
    <table id="schedule-table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Lecture</th>
          <th>Date</th>
          <th>Topic</th>
          <th class="download-col">Download</th>
          <th>Instructor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td class="lecture-date">3/31/2014</td>
          <td>Introduction</td>
          <td class="download-col"><a href="docs/introduction.pdf">Slides</a></td>
          <td>Silvio Savarese</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="lecture-date">4/2/2014</td>
          <td>Introduction to Android Development</td>
          <td class="download-col"><a href="docs/intro-to-android-dev.pdf">Slides</a></td>
          <td>Alejandro Troccoli</td>
        </tr>
        <tr>
          <td rowspan="2">3</td>
          <td class="lecture-date" rowspan="2">4/7/2014</td>
          <td>Introduction to OpenCV</td>
          <td class="download-col"><a href="docs/intro-to-opencv.pdf">Slides</a></td>
          <td rowspan="2">Saumitro Dasgupta</td>
        </tr>
        <tr>
          <td class="success">Project 0 Released</td>
          <td class="download-col"><a href="docs/hw0.pdf">PDF</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td class="lecture-date">4/9/2014</td>
          <td>Introduction to OpenGL</td>
          <td class="download-col"><a href="https://docs.google.com/presentation/d/1XAi32t7OADpmLBDR-zZ5_RTMoqTTdQ_RyaHS4B3cVVk/pub?start=false&loop=false&delayms=3000#slide=id.g2691475fb_0152">Slides</a></td>
          <td>Francois Chaubard</td>
        </tr>
        <tr>
          <td rowspan="2">5</td>
          <td class="lecture-date" rowspan="2">4/14/2014</td>
          <td>Stitching + Blending</td>
          <td class="download-col"><a href="docs/stitching-and-blending.pdf">Slides</a></td>
          <td rowspan="2">Kari Pulli</td>
        </tr>
        <tr>
          <td class="warning">Project 0 Due</td>
          <td class="download-col"></td>
        </tr>
        <tr>
          <td rowspan="2">6</td>
          <td class="lecture-date" rowspan="2">4/16/2014</td>
          <td rowspan="1">Panorama + HDR</td>
          <td class="download-col"><a href="docs/panorama-hdr.pdf">Slides</a></td>
          <td rowspan="2">Kari Pulli</td>
        </tr>
        <tr>
          <td class="success">Project 1 Released</td>
          <td class="download-col"><a href="http://www.stanford.edu/class/cs231m/uploads/projects/1/project-1.pdf">PDF</a><br/><a href="http://www.stanford.edu/class/cs231m/uploads/projects/1/starter-code.zip">Starter Code</a></td>
        </tr>
        <tr>
          <td>7</td>
          <td class="lecture-date">4/21/2014</td>
          <td>Camera + ISP</td>
          <td class="download-col"><a href="docs/camera-processing.pdf">Slides</a></td>
          <td>Kari Pulli</td>
        </tr>
        <tr>
          <td>8</td>
          <td class="lecture-date">4/23/2014</td>
          <td>Structure from Motion</td>
          <td class="download-col"><a href="docs/sfm.pdf">Slides</a></td>
          <td>Silvio Savarese</td>
        </tr>
        <tr>
          <td>9</td>
          <td class="lecture-date">4/28/2014</td>
          <td>VSLAM</td>
          <td class="download-col"><a href="docs/vslam.pdf">Slides</a></td>
          <td >Roland Angst</td>
        </tr>
        <tr>
          <td rowspan="4">10</td>
          <td rowspan="4" class="lecture-date">4/30/2014</td>
          <td>RANSAC</td>
          <td class="download-col"><a href="docs/ransac.pdf">Slides</a></td>
          <td >Roland Angst</td>
        </tr>
        <tr>
          <td>Overview of Project 2</td>
          <td class="download-col"></td>
          <td>Saumitro Dasgupta <br /> Francois Chaubard</td>
        </tr>
        <tr>
          <td class="warning">Project 1 Due</td>
          <td class="download-col"></td>
          <td class="download-col"></td>
        </tr>
        <tr>
          <td class="success">Project 2 Released</td>
          <td class="download-col"><a href="hw/2/project-2.pdf">PDF</a><br/>
          <a href="hw/2/VSLAM.zip">Starter Code</a></td>
          <td class="download-col"></td>
        </tr>
        <tr>
          <td>11</td>
          <td class="lecture-date">5/5/2014</td>
          <td>Optical flow and tracking</td>
          <td class="download-col"> <a href="docs/optical_flow.pdf">PDF </a></td>
          <td>Silvio Savarese</td>
        </tr>
        <tr>
          <td>12</td>
          <td class="lecture-date">5/7/2014</td>
          <td>Recognition and classification</td>
          <td class="download-col"><a href="docs/recognition.pdf">PDF </a></td>
          <td>Silvio Savarese</td>
        </tr>
        <tr>
          <td rowspan="1">13</td>
          <td class="lecture-date" rowspan="1">5/12/2014</td>
          <td>Neural networks and decision trees <br/> for machine vision</td>
          <td class="download-col"></td>
          <td>Kari Pulli</td>
        </tr>
        <tr>
          <td rowspan="1">14</td>
          <td class="lecture-date" rowspan="1">5/14/2014</td>
          <td>Paper Presentation</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
        <tr>
          <td rowspan="1"></td>
          <td  class="lecture-date"   rowspan="1">5/16/2014 (midnight)</td>
          <td class="warning" >Project 2 Due</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
 
        <tr>
          <td rowspan="2">15</td>
          <td class="lecture-date" rowspan="2">5/19/2014</td>
          <td>Paper Presentation</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
        <tr>
          <td class="warning">Project Proposals Due</td>
          <td></td>
          <td class="download-col"></td>
        </tr>
        <tr>
          <td>16</td>
          <td class="lecture-date">5/21/2014</td>
          <td>Paper Presentation</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
        <tr>
          <td>17</td>
          <td class="lecture-date">5/26/2014</td>
          <td class="danger">Memorial Day &mdash; No Class</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
        <tr>
          <td>18</td>
          <td class="lecture-date">5/28/2014</td>
          <td>Paper Presentation</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
        <tr>
          <td>19</td>
          <td class="lecture-date">6/2/2014</td>
          <td>Project Presentations</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
        <tr>
          <td>20</td>
          <td class="lecture-date">6/4/2014</td>
          <td>Project Presentations</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="lecture-date">6/8/2014</td>
          <td class="warning">Final Project Due &mdash; No late days</td>
          <td class="download-col"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="assets/js/jquery-2.1.0.min.js"></script>
<script>
$(function() {
  var now = new Date();
  now.setHours(0, 0, 0, 0);
  $('.lecture-date').filter(function() {
    var dateParts = $(this).text().split('/');
    return (now <= new Date(dateParts[2], dateParts[0]-1, dateParts[1]));
  }).first().addClass('next-lecture');
});
</script>
{% endblock %}
