{% extends "base.html" %}
{% block JumbotronContents %}

{% endblock %}


{% block PageContents %}
<!-- Pre Week 1 -->
<h2>Fall 2013 Application (deadline 9/24/13)</h2>

<ul> 
    <li><strong><a href="application.html">MS&amp;E 273 Enrollment Application, Fall 2013</a></strong></li> 
    <li><a href=https://docs.google.com/document/d/1lly_fBMicMBRgGj79QsQWB0P1GKjx-O3SjCMG9tWqrY/edit?usp=sharing>Week 1 Attendance</a></li>
    
</ul>

<ol>
    <li>Please fill out and submit the online application anytime before the first class.</li>
	<li>You must attend the first class to be considered for enrollment. </li>
    <li>The class list of 48 students in addition to a wait-list of 12 students will be posted online by midnight on September 24th.</li>
</ol>



<h2>Team Formation (deadline 9/26/13 11:59pm)</h2>

<h4>If you have formed a team:</h4>

<ul>
    <li>Be sure to <a href = "http://bit.ly/team273">Submit Team Form</a>.</li>
    <li>Begin working on Assignment 1 (Available on the Syllabus page).</li>
    <li>Mahesh's office hours are Friday 2:00-3:30pm. (Sign up using the Google Doc link on the Teaching Team page).</li>
</ul>

<h2>Assignment 1 (deadline 9/30/12 11:59pm)</h2> 
	<ul>Please submit via Dropbox.</ul>

<h2>Elevator Pitch Video and Sign Off (deadline 10/4/13 5:00pm)</h2>
<h2>Assignment 2 (deadline 10/7/13 11:59pm)</h2>
 
 <ol>
    <ul>Assignments are posted on the syllabus page. Please submit via Dropbox.</ul>
</ol>


<h2>Peter Kent Finance Video</h2>
	<ul><a href="resources/videos/financials/1.html" target="blank">Click to watch.</a></ul>
	<ul>Everyone must watch this video.</ul>
	<ul>Each CFO must prepare at least one question for Peter (submit via Dropbox by 10/14/13 11:59pm).</ul>
	<ul>You might also want to watch Jeff Kuhn's video (posted in the Resources section).</ul>
		
<h2>Assignment 3 (deadline 10/14/13 11:59pm)</h2>
   <ul>Assignments are posted on the syllabus page. Please submit via Dropbox.</ul>

<h2>Gate 1 is on Saturday!</h2>
   
	<ul><a href="resources/assignments/Gate 1 approach.docx">A guide to Gate 1 is found here.</a></ul>



<h2>Financial Modeling Deep Dive is on Thursday!</h2>
   
<h2>Assignment 4 (deadline 10/21/13 11:59pm)</h2>
   <ul>Assignments are posted on the syllabus page. Please submit via Dropbox-.</ul>



<h2>Assignment 5 (deadline 10/28/13 11:59pm)</h2>
<ul>Assignments are posted on the syllabus page. Please submit via Dropbox.</ul>

   

<h2>Gate 2 is on Saturday!</h2>
   
	<ul><a href="resources/assignments/Gate 2 approach.docx">A guide to Gate II is found here.</a></ul>


<h2>Assignment 6 (deadline 11/4/13 11:59pm)</h2>
<ul>Assignments are posted on the syllabus page. Please submit via Dropbox.</ul>



<h2>Skybox Case</h2>
	<ul>
 		<li> Mark Leslie will discuss the Skybox Imaging case. Students need to have thoroughly read, 
        researched and studied the case and be prepared to actively participate in the case during the class.</li>
        <li><a href="resources/readings/Skybox Imaging E451 October 6 2012.docx">Skybox Case.</a></li>
        <li><a href="resources/readings/Skybox Imaging E451-SQ October 1 2013.docx">Skybox Case study questions.</a></li>   
	</ul>



<h2>Assignment 7 (deadline 11/12/13 11:59pm)</h2>
   <ul>Please download the canvas on the syllabus page.</ul>
   <ul>Make sure you address each of the sections described in the canvas.</ul>
   <ul>The canvas is a tool to help you think hollistically about your idea. You can present the contents in any way you like.</ul>
   <ul>As usual, please submit via Dropbox... this is the last assignment!</ul>
	


<h2>Business Model (deadline 11/15/13 MIDNIGHT)</h2>
<ul>
	<li>Please submit your business model electronically (pdf format) via Dropbox no later than Friday, November 15th, by midnight.</li>
    <li>More details can be found <a href="resources/assignments/BusinessCanvasExpansion.docx">here</a>.</li>
    <li>An example from last year is <a href="resources/examples/business model/OrchardView.pdf">OrchardView</a></li>
</ul>


<h2>On Tuesday we have a special guest: Geoffrey Moore</h2>
<ul>
    <li>Please come to class having read as much of Crossing the Chasm as possible.</li>
    <li>Please review the presentation <a href="resources/examples/pitch/Pitching_MDV.ppt">Pitching Mohr Davidow Ventures</a>,
	which will also be discussed in preparation for your pitch.</li>
</ul>


<h2>Final presentations are this week. Good luck!</h2>



<h2>Class Evaluation</h2>
<ul>
    <li>Your opinion is valuable to the teaching team.</li>
    <li>Please fill out a quick <a href="https://docs.google.com/spreadsheet/embeddedform?formkey=dFBsS3NqOFVVMVFXcFJmeEVSUExyQ1E6MA" target="blank">Google Evaluation Form</a>.</li>
	<li>Thank you!</li>
</ul>

{% endblock %}