{% extends "base.html" %}
{% block JumbotronContents %}

{% endblock %}


{% block PageContents %}
        <!--TO DO: Assignments post 7 + upload all assignments & all lectures-->
<div>
    <table class="table">
        <tr class="header" style="font-weight: bold">
            <td>Week</td>
            <td>Date</td>
            <td>Start</td>
            <td>End</td>
            <td>Location</td>
            <td>Event</td>
            <td>Assignment</td>
            <td>Slides</td>
        </tr>

        <tr>
            <td rowspan=4><a href="#week1">Week 1</a></td>
            <tr>
                <td>9/23</td>
                <td>4:15pm</td>
                <td>7:15pm</td>
                <td>Y2E2 111</td>
                <td>Opportunity Assessment</td>
                <td>
                    <!--assingment
                    <a href="resources/assignments/A1A - Team Concept Memo.pdf">1A. Team Concept Memo (pdf)</a><br/>
                    <a href="resources/assignments/Assignment 1A - Team Concept Memo.docx">1A. Team Concept Memo (docx)</a><br/>
                    <a href="resources/assignments/Assignment 1B - Market Research and Product.pdf">1B. Market Research (pdf)</a><br/>
                    <a href="resources/assignments/Assignment 1B - Market Research and Product.docx">1B. Market Research (docx)</a></td> -->
                    <td><a href="resources/lectures/Week1.pptx">pptx</a></td>
                </td>



                <tr>
                    <td>9/24</td>
                    <td>5:30pm</td>
                    <td>7:30pm</td>
                    <td></td>
                    <td>Mixer 1: Brainstorming</td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>9/25</td>
                    <td>6:00pm</td>
                    <td>7:30pm</td>
                    <td></td>
                    <td>Mixer 2: Pitching</td>
                    <td></td>
                    <td></td>
                </tr>
            </tr>

            <tr>
                <td rowspan=4><a href="#week2">Week 2</a></td>

                <tr>
                    <td>9/30</td>
                    <td>3:45pm</td>
                    <td>4:15pm</td>
                    <td>Y2E2 111</td>
                    <td>Mentor Meet and Greet</td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>9/30</td>
                    <td>4:15pm</td>
                    <td>7:15pm</td>
                    <td>Y2E2 111</td>
                    <td>Market Validation<br/>Customer Discovery</td>
                    <td>
                        <!--assingment
                        <a href="resources/assignments/Assignment 2 - GTM and Fieldwork.pdf">2. GTM and Fieldwork (pdf)</a><br/>-->
                        <a href="resources/assignments/A2.docx">2. GTM and Fieldwork (docx)</a>
                    </td>
                    <td>
                        <a href="resources/lectures/Week2.pptx">pptx</a>
                    </td>


                </tr>

                <tr>
                    <td>10/1</td>
                    <td>4pm</td>
                    <td>5:30pm</td>
                    <td>Nano 232</td>
                    <td>Market Research with<br/>Konstantin Guericke</td>
                    <td></td>
                    <td><a href="resources/guestLectures/LinkedIn for market research.pptx">pptx</a><br/>
                        <a href="video/Build_Connections.mp4">video</a>
                    </td>

                </tr>

            </tr>

            <tr>
                <td rowspan=3><a href="#week3">Week 3</a></td>
                <tr>

                    <td>10/7</td>
                    <td>4:15pm</td>
                    <td>7:15pm</td>
                    <td>Y2E2 111</td>
                    <td>Go-to-market<br/>Product Validation</td>
                    <td><!--assingment
                        <a href="resources/assignments/Assignment 3 - Financial Assumptions.pdf">3. Financial Assumptions (pdf)</a><br/>-->
                        <a href="resources/assignments/A3.docx">3. Financial Assumptions (docx)</a>

                        <td><a href="resources/lectures/Week3.pptx">pptx</a></td>
                    </td>
                </tr>

                <tr class="header">
                    <td>10/11</td>
                    <td>8:30am</td>
                    <td>12:00pm</td>
                    <td>Y2E2-101, Y2E2-105</td>
                    <td colspan=3 style="text-align:center"><b>Gate 1 Presentations</b></td>
                </tr>
            </tr>

            <tr>
                <td rowspan=3><a href="#week4">Week 4</a></td>
                <tr>

                    <td>10/14</td>
                    <td>4:15pm</td>
                    <td>7:15pm</td>
                    <td>Y2E2 111</td>
                    <td>Financial Modeling</td>
                    <td><!--assingment
                        <a href="resources/assignments/Assignment 4 - UnitProdDev.pdf">4. Unit Economics and Product Development (pdf)</a><br/>-->
                        <a href="resources/assignments/A4.docx">4. Unit Economics and Product Development (docx)</a>
                        </td>                             

                        <!--<td><a href="resources/lectures/Week4.pptx">pptx</a></td>--><td></td>
                    </td>
                </tr>

                <tr>
                    <td>10/16</td>
                    <td>5:30pm</td>
                    <td>7:30pm</td>
                    <td>Nano 232</td>
                    <td>Financial Modeling<br/>Deep Dive</td>
                    <td></td>
                    <td><a href="resources/videos/venture_formation_oct17.mp4">video</a></td>
                </tr>
            </tr>

            <tr>
                <td rowspan=2><a href="#week5">Week 5</a></td>

                <tr>
                    <td>10/21</td>
                    <td>4:15pm</td>
                    <td>7:15pm</td>
                    <td>Y2E2 111</td>
                    <td>Product Development Plan</td>
                    <td>
                        <!--assingment
                        <a href="resources/assignments/Assignment 5 - Financial Metrics.pdf">5. Financial Metrics (pdf)</a><br/>-->
                        <a href="resources/assignments/A5.docx">5. Financial Metrics (docx)</a>
                    </td>

                    <!--<td><a href="resources/lectures/Week5.pptx">pptx</a><br>-->
                    <td><a href="resources/guestLectures/MSE273 Mobile &amp; Web App R&D.pptx">extra pptx</a><br></td>
                </tr>

                    <!--<tr>-->
                        <!--<td>10/24</td>-->
                        <!--<td>1:15pm</td>-->
                        <!--<td>3:05pm</td>-->
                        <!--<td>NVIDIA</td>-->
                        <!--<td>MS&amp;E 278 @ NVIDIA Auditorium: When Should the Patent Application Be Filed?</td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
            </tr>


            <tr>
                <td rowspan=4><a href="#week6">Week 6</a></td>

            <tr>
                <td>10/28</td>
                <td>4:15pm</td>
                <td>7:15pm</td>
                <td>Y2E2 111</td>
                <td>Financing</td>
                <td><!--assingment
                        <a href="resources/assignments/Assignment 6 - Cap Table.pdf">6. Cap Table (pdf)</a><br/>-->
                    <a href="resources/assignments/A6.docx">6. Cap Table (docx)</a></td>
                <td><!--<td><a href="resources/lectures/Week6.pptx">pptx</a></td>--></td>
            </tr>

            <tr>
                <td>10/30</td>
                <td>5:30pm</td>
                <td>6:30pm</td>
                <td>Nano 232</td>
                <td>VC Term Sheets</td>
                <td></td>
                <td><a href="http://www.stanford.edu/class/msande273/video/terms_sheet.html" target="blank">video</a></td>
            </tr>

            <tr class="header">
                <td>11/1</td>
                <td>8:30am</td>
                <td>12:00pm</td>
                <td>Y2E2-101, Y2E2-105</td>
                <td colspan=3 style="text-align:center"> <b>Gate 2 Presentations</b></td>
            </tr>


            </tr>

            </tr>


                    <tr>
                        <td rowspan=2><a href="#week7">Week 7</a></td>

                        <tr>
                            <td>11/4</td>
                            <td>4:15pm</td>
                            <td>7:15pm</td>
                            <td>Y2E2 111</td>
                            <td>Capitalization</td>

                            <!--assingment
                            <td><a href="resources/assignments/Assignment 7 - BusinessCanvas.pdf">7. Business Canvas (pdf)</a><br/>-->
                                <td><a href="resources/assignments/A7.pptx">7. Business Canvas (pptx)</a></td>


                                <!--<td><a href="resources/lectures/Week7.pptx">pptx</a></td>-->                            <td></td>
                            </tr>    
                        </tr>

                        <tr>
                            <td rowspan=2><a href="#week8">Week 8</a></td>

                            <tr>    
                                <td>11/11</td>
                                <td>4:15pm</td>
                                <td>7:15pm</td>
                                <td>Y2E2 111</td>
                                <td>VC Presentation<br></td>
                                <td>
                                <!--assingment
                                <td><a href="resources/assignments/Assignment 8 - BusinessCanvasExpansion.pdf">8. Business Canvas Expansion (pdf)</a><br/>
                                <a href="resources/assignments/Assignment 8 - BusinessCanvasExpansion.docx">8. Business Canvas Expansion (docx)</a></td>
                                -->
                                 </td>
                                    <!--<td><a href="resources/lectures/Week8.pptx">pptx</a></td>-->                            <td></td>
                                </tr>
                            </tr>

                            <tr>
                                <td rowspan=2><a href="#week9">Week 9</a></td>

                                <tr> 
                                    <td>11/18</td>
                                    <td>4:15pm</td>
                                    <td>7:15pm</td>
                                    <td>Y2E2 111</td>
                                    <td>Entrepreneurship:<br/>Extreme Sport</td>
                                    <td></td>
            <td></td>
                                    <!--A-->
                                </tr>    
                            </tr>

                            <tr class="header">
                                <td></td>
                                <td>11/25</td>
                                <td colspan=6 style="text-align:center"><b>Thanksgiving</b></td>
                            </tr>

                            <tr>
                                <td rowspan=5><a href="#week10">Week 10</a></td>
                                <tr>
                                    <td>12/2</td>
                                    <td>2:00pm</td>
                                    <td>6:00pm</td>
                                    <td>Huang 304</td>
                                    <td colspan=3 style="text-align:center"><b>Dry Run 1</b></td>
                                </tr>

                                <tr>
                                    <td>12/3</td>
                                    <td>2:00pm</td>
                                    <td>6:00pm</td>
                                    <td>Huang 304</td>
                                    <td colspan=3 style="text-align:center"><b>Dry Run 2</b></td>
                                </tr>

                                <tr>
                                    <td>12/4</td>
                                    <td>8:45am</td>
                                    <td>4:15pm</td>
                                    <td>Y2E2 299</td>
                                    <td colspan=3 style="text-align:center"><b>Final Presentations</b></td>
                                </tr>

                                <tr>
                                    <td>12/5</td>
                                    <td>8:45am</td>
                                    <td>4:15pm</td>
                                    <td>Y2E2 2999</td>
                                    <td colspan=3 style="text-align:center"><b>Final Presentations</b></td>
                                </tr>    
                            </tr>


                        </table>

                        <hr />
                        <br />
                        <!--Week 1  ================================================================================================= -->
                        <a name="week1"></a>
                        <h2>Week 1 (Sept. 23th - Sept. 29th)</h2>
                        <h4>Course Introduction</h4>
                        <ul>
                            <li>Learn more about the course through an interactive lecture with the course instructors and course Alumni.  
                                This should prove an exciting introduction!  Applications are due by the end of class.</li>
                        </ul>    
                        <h4>Opportunity Assessment</h4>
                        <ul>
                                <li>Learn how to take the technology ideas swirling in your head and assess
                                    them in terms of their market opportunity.</li>
                                </ul>
                                <h4>Team Mixer I - Brainstorming - Wednesday, September 24 (5:30 PM) MANDATORY</h4>
                                <ul>
                                    <li>Meet at the d.School atrium. Get to know your classmates and form your team! 
                                        The teams form really fast in this class, so don't miss this event. 
                                        If you can't make it be sure to email the TAs ahead of time.</li>
                                    </ul>
                                    <h4>Team Mixer II - Pitching - Thursday, September 25 (6:00 PM)</h4>
                                    <ul>
                                        <li>You must attend if you haven't formed a team yet.  
                                            Teams of two or three will allowed to pitch to the remaining classmates and those on the waitlist.</li>
                                            <li>TAs will announce final class list by midnight. Wait-listed students are 
                                                strongly encouraged to come to the next class on Sept 29th since historically 
                                                spots will open up.</li>
                                            </ul>
                                            <h4>Deliverables</h4>
                                            <ul>
                                                <li><!--assignment
                                                <a href="https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dGxoc0o5Z0piUG5HWVN0dFdua3l6dnc6MQ"></a> 
                                                -->Submit Team Form by Thursday 9/25 11:59pm.</li> 
                                                <li><!--assignment<a href="resources/assignments/Assignment 1A - Team Concept Memo.docx"></a> 
                                                -->Assignment 1a - Team Concept Memo - Submit via msande273@gmail.com to the TAs by Monday 9/29 11:59pm </li>
                                                <li><!--assignment<a href="resources/assignments/Assignment 1B - Market Research and Product.docx"></a> 
                                                -->Assignment 1b - Market Research and Product - Submit via msande273@gmail.com to the TAs by Monday 9/29 11:59pm </li>
                                            </ul>
                                            <h4>Reading/Speaker Prep</h4>
                                            <ul>
                                                <!--<li>Idea generation: <a href="http://www.paulgraham.com/ideas.html">Article by Paul Graham</a></li>-->
            <!--<li>Customer Discovery &amp; Market Validation Primer: <a href="resources/readings/blank-chap2.pdf">
            The Path to Epiphany: The Customer Development Model, Four Steps to the Epiphany, Steven Blank, Chap. 2.</a></li>-->
            <li>Speaker Prep: <a href="http://money.cnn.com/magazines/fortune/fortune_archive/2007/10/15/100536853/">Diane Greene</a></li>
            <!--<li>Register for <a href="http://techfinder.stanford.edu/">TechFinder</a></li>-->
        </ul>
                        <hr />
                        <br />
        <!-- Week 2  ================================================================================================= -->
        <a name="week2"></a>
        <h2>Week 2 (Sept. 30th - Oct. 6th)</h2>
        <h4>Special Session, Sept. 30th 3:45pm</h4>
        <ul>
            <li>Mentor Introduction - 3:45 PM  
                Your opportunity to meet your mentor. Remember, they will need to sign-off 
                on your initial concept before you proceed, so get started with them right away!</li>
            </ul>
            <h4>Market Validation</h4>
            <ul>
                <li>Opportunity Assessment - Diane Greene, co-founder of VMWare.</li>
            </ul>

            <h4>Customer Discovery</h4>
            <ul>
                <li>Often the trickiest part of entrepreneurship, learn how to find the right customer for your product, 
                    or the right product for your customers.</li>
                </ul>

                <h4>Wednesday, Special Session - Konstantin Guericke, Co-Founder of LinkedIn</h4>
                <ul>    
                    <li>Konstantin will talk about market research in general, and how to get the most out of LinkedIn.</li>
                </ul>

                <h4>Deliverables</h4>
                <ul>
                    <li>Elevator Pitch Video - submit 1 minute video to msande273@gmail.com by Friday 10/3, 5pm</li>
                    <li>Concept/Product Signoffs - Due by Friday 10/3 5:00pm. Your mentor and each team member 
                        should fill out the provided Google Form (red, yellow, green light)</li>
                        <li>Assignment 2 - Go-to-market - Submit via msande273@gmail.com to the TAs by Monday 10/6 11:59pm</li>
                        <li>Check out this <a href="resources/assignments/A2.docx">Defendable Differentiated Positioning</a> slide for reference</li>
                    </ul>
                    <h4>Reading/Speaker Prep</h4>
                    <ul>
                        <li>Go to Market Strategy: <a href="resources/readings/businessModelAnalysisForEntrepreneur.pdf">The Strategic Way to Go to Market</a> (HBS)</li>
                        <li>Product Validation: Crossing the Chasm, Chapter 5: Assemble the Invasion Force</li>
                        <li>Speaker Prep: <a href="http://www.youtube.com/watch?v=VjRtZavrS70">Donna Novitsky</a></li>
                        <li>Speaker Prep: <a href="http://about.me/brelig">Jon Brelig</a></li>
                    </ul>

                        <hr />
                        <br />

<!-- Week 3  ================================================================================================= -->
<a name="week3"></a>
<h2>Week 3 (Oct. 7th - Oct. 13th)</h2>

<h4>Go-to-Market Planning</h4>
<ul>
    <li>Once you discover your customer, the next question to ask is how to actually reach them.
        Learn more from experienced guest lecturers Donna Novitsky, co-founder and CEO of <a href="http://www.yiftee.com">Yiftee</a>
        and Jon Brelig, co-founder and CTO of <a href="http://www.infoscoutinc.com/">InfoScout.</a></li>
    </ul>
    <h4>Product Validation </h4>
    <ul>
        <li>As a high-tech entrepreneur, you must build a viable technology solution to compete. But as a graduate student, you may
            often focus on technologies still 10-20 years from market development.  Learn how to vet your
            technology idea for its current potential and avoid relying on a technology that's still in its infancy.
            No "WarpDrive" allowed, as we like to say!</li>
        </ul>
        <h4>Deliverables</h4>
        <ul>
            <li>Submit Gate I Slides via msande273@gmail.com to TAs by Saturday, 10/11, 11:59pm</li>
            <li>Watch Peter Kent's <a href="resources/videos/financials/1.html" target="blank"> financial primer</a>.
                Review Peter Kent's <a href="resources/financialModel/financialModel.xlsm">financial model</a>.</li>
                <li>Finance Video - Submit questions in a Word document to the TAs via msande273@gmail.com by Monday 10/13 11:59pm</li>
                <li><a href="resources/assignments/A3.docx">Assignment 3 - Financial Assumptions</a> - Due via msande273@gmail.com to the TAs by Monday 10/13 11:59pm</li>

            </ul>
            <h4>Reading/Speaker Prep</h4>
            <ul>
                <li>Speaker Prep: <a href="http://www.khoslaventures.com/team-member/mike-kourey">Mike Kourey</a></li>
            </ul>
            <h2>Gate I: Opportunity Assessment</h2>
            <h4>Saturday, October 11 (8:30 AM - 12:00 PM) Y2E2-101/105</h4>
            <ul>
                <li>Sign up on the Office Hour Sign-up Page <a href="https://docs.google.com/spreadsheet/ccc?key=0AmKYx6vEDPpidDRabGkzUmhVNThJaWtTc0ZQMTkzYWc&usp=gmail#gid=1">(go to the Gate 1 tab on the Google Doc)</a></li>
                <li>Prepare a 15 minute team presentation, led by your CEO and CTO of your product/market fit.
                    Timing will be enforced.</li>
                    <li><a href="resources/assignments/Gate 1 approach.docx">Gate I guidelines.</a></li>
                </ul>
                <h4>Gate I Examples:</h4>
                <ul>
                    <li><a href="resources/examples/gate1/Tempto_Gate1_Presentation.pdf">Tempto, 2012</a></li>
                    <li><a href="resources/examples/gate1/Hostess_Gate1_Presentation.pdf">Hostess.fm, 2012</a></li>
                    <li><a href="resources/examples/gate1/Solcius_Gate1_Presentation.pdf">Solcius, 2012</a></li>
                    <li><a href="resources/examples/gate1/LEO_Gate1_Presentation.pdf">LEO, 2012</a></li>
                </ul>
    <hr />
    <br />

<!--
Week 4  =================================================================================================
-->
<a name="week4"></a>
<h2>Week 4 (Oct. 14th - Oct. 20th)</h2>
<h4>Financial Modeling</h4>
<ul>
    <li>Review your financial assumptions in class.</li>
    <li>Mike Kourey of Khosla Ventures will discuss his lessons learned on financial planning and milestones for early stage technology start-ups.</li> 
    <li>Peter Kent will answer your questions about financial models for tech start-ups.</li>
</ul>

<h4>Thursday, Special Session - CFO Deep Dive</h4>
<ul>    
    <li>This is one of the highlights of the course! Proper accounting makes a start-up easier to fund and acquire. 
        Learn what a start-up CFO needs to know to keep the company afloat! CFO's required to attend, and all others
        are encouraged.</li>
    </ul>


    <h4>Deliverables</h4>
    <ul>
        <li><a href="resources/assignments/A4.docx">Assignment 4 - Unit Economics and Product Development Plan</a> - Due via msande273@gmail.com to the TAs by Monday 10/20 11:59pm</li>
    </ul>

    <h4>Reading/Speaker Prep</h4>
    <ul>
        <li>Clay Christensen The Innovators Dilemma: Part I</li>
        <li>Speaker Prep: <a href="http://www.crunchbase.com/person/rahul-sharma-6">Rahul Sharma</a></li>
        <li>Speaker Prep: <a href="http://www.linkedin.com/pub/justin-white/21/720/970">Justin White</a></li>
    </ul>
    
                        <hr />
                        <br />
<!--
Week 5  =================================================================================================
-->
<a name="week5"></a>
<h2>Week 5 (Oct. 21st - Oct. 27th)</h2>
<h4>Product Development Plan</h4>
<ul>
    <li>Rahul Sharma of <a href="http://www.averail.com/">Averail</a> talks about his experiences in
        product development. Mike Preinier talks about product development at <a href="http://www.granular.ag/">Granular</a>
        as it grew out of MS&amp;E 273.</li>
    </ul>    
    <h4>Deliverables</h4>
    <ul>
        <li><a href="resources/assignments/A5.docx">Assignment 5 - Financial Metrics</a> - Due via msande273@gmail.com to the TAs by Monday 10/27 11:59pm </li>
    </ul>
    <h4>Reading/Speaker Prep</h4>
    <ul>    
        <li><a href="resources/readings/Raising Initial Funding for High Tech Co. in SF Bay Area_v3.pdf">Raising Initial Funding For High Technology Companies in the San Francisco Bay Area, Greguras and Stafford, Fenwick &amp; West LLP.</a></li>
        <li><a href="resources/readings/PCF Report.pdf"> East Coast vs. West Coast: Regional Differences in Venture Capital Financing, Cooley Godward, LLP, Aug 2007.</a></li>
        <li>Speaker Prep: <a href="http://ecorner.stanford.edu/authorMaterialInfo.html?mid=2483">Ann Muira-Ko</a></li>
        <li>Speaker Prep: <a href="http://www.forbes.com/lists/midas/2012/scott-sandell.html">Scott Sandell</a></li>

    </ul>
    <h4>Optional Reading</h4>
    <ul>    
        <!--<li>How to fund a startup: <a href="http://www.paulgraham.com/startupfunding.html">Paul Graham</a></li>-->
        <li><i>Presenting the Plan and Negotiating the Deal, Technology Ventures,</i> Chap. 19, p. 423-435.</li>
    </ul>

                        <hr />
                        <br />
    <!--Week 6  ================================================================================================= -->
    <a name="week6"></a>
    <h2>Week 6 (Oct. 28th - Nov. 3rd)</h2>
    <h4>VC Financing</h4>
    <ul>
        <li>Scott Sandell of <a href="http://www.nea.com/">NEA</a> will explore opportunities for Venture Capital financing. </li>
    </ul>
    <h4>Multistage Financing</h4>
    <ul>
        <li>Ann Miura Ko of <a href="http://www.floodgate.com/">Floodgate</a> will discuss multistage financing.</li>
        <li>Gate 2 Sanity Check</li>
    </ul>

    <h4>Thursday, Special Session - VC Terms Sheets</h4>
    <ul>    
        <li>Want to understand the fundraising process and that elusive terms sheet?  
            Watch the mock negotiation first, and come with questions!</li>
            <li>For an explanation of a classic terms sheet, see the <a href="resources/examples/term sheets/FORM_of_VC_Term_Sheet.doc">Form of VC terms sheet.</a> </li>
            <li>Also see the <a href="resources/examples/term sheets/MSE273_Mock_Terms_Sheet_10.13.12.doc">Mock terms sheet.</a> </li>
            <li>Here is a  <a href="resources/examples/term sheets/VC_Terms_Glossary.pdf">VC terms sheet glossary.</a> </li>
        </ul>

        <h4>Deliverables</h4>
        <ul>
            <li>Submit Gate II Slides via msande273@gmail.com to TAs Friday 10/31, 11:59pm</li>
            <li><a href="resources/assignments/A6.docx">Assignment 6 - Cap Table</a> - Due via msande273@gmail.com to the TAs by Monday 11/3 11:59pm </li>
        </ul>

        <h4>Readings/Speaker Prep</h4>
        <ul>
            <li>Speaker Prep: <a href="http://www.gsb.stanford.edu/users/mleslie1">Mark Leslie</a></li>
            <li>Speaker Prep: <a href="http://www.zygoteventures.com/abouttheprincipal.php">Jerry Fiddler</a></li>
        </ul>

        <h2>Gate II: Operating Plan</h2>
        <h4>Saturday, November 1 (8:30 AM -12:30 PM) Y2E2 101/Y2E2 105</h4>
        <ul>
            <li>Sign up on the Office Hour Sign-up Page <a href="https://docs.google.com/spreadsheet/ccc?key=0AmKYx6vEDPpidDRabGkzUmhVNThJaWtTc0ZQMTkzYWc&usp=gmail#gid=2">(go to the Gate 2 tab on the Google Doc)</a></li>
            <li>Prepare a team presentation of your operations plan.</li>
            <li><a href="resources/assignments/Gate 2 approach.docx">Gate II guidelines.</a></li>
        </ul>
        <h4>Gate II Examples:</h4>
        <ul>
            <li><a href="resources/examples/gate2/StratioGate2Powerpoint.pptx">Stratio, 2012</a></li>
            <li><a href="resources/examples/gate2/mammOptics.pdf">MammOptics, 2009</a></li>
            <li><a href="resources/examples/gate2/gSystem.ppt">G-System, 2009 </a></li>
        </ul>

        <p>Gate II Reminders<p>
            <ul>
                <li>Describe how you plan to develop your product and bring it to market including number, timing and costs of R&amp;D heads.</li>
                <li>Include detailed five year projections and your cash flow breakeven. Be sure to distinguish your product development stage from your steady state of operations.</li>
                <li>Ground all of your financials with a proxy analysis. Be prepared to defend any material differences at any stage of the company between your proxy and your plan.</li>
            </ul>

                        <hr />
                        <br />
<!--
Week 7  =================================================================================================
-->
<a name="week7"></a>
<h2>Week 7 (Nov. 4th- Nov. 10th)</h2>
<h4>Capitalization</h4>
<ul>
    <li> Mark Leslie will discuss the Skybox Imaging case. Students need to have thoroughly read, 
        researched and studied the case and be prepared to actively participate in the case during the class.</li>
        <li><a href="resources/readings/Skybox Imaging E451 October 6 2012.docx">Skybox Case.</a></li>
        <li><a href="resources/readings/Skybox Imaging E451-SQ October 1 2013.docx">Skybox Case study questions.</a></li>        
        <li>Jerry Fiddler will discuss Solarzym and other ventures.</li>
        <li> Cap structure class examples.</li>
    </ul>
    <h4>Deliverables</h4>
    <ul>
        <li><a href="resources/assignments/A7.pptx">Assignment 7 - Business Model Canvas</a> - Due via msande273@gmail.com to the TAs by Monday 11/10 11:59pm </li>
        <li>Submit questions for Dan Dorosin, Fenwick and West in a Word document to TAs via msande273@gmail.com by Monday 11/10 11:59pm</li> 
    </ul>


    <h4>Reading/Speaker Prep</h4>-
    <ul>
        <li>Video: <a href="resources/videos/DCF/1.html">Start-Up Company Formation</a> -     Daniel A. Dorosin, Fenwick &amp; West LLP</li>
        <li>Video: <a href="resources/videos/IP/1.html">Start-Up Intellectual Property Considerations</a> - Daniel A. Dorosin, Fenwick &amp; West LLP</li>
        <li>Video: <a href="resources/videos/termSheetVideo/1.html">Key Term Sheet Issues</a> - Daniel A. Dorosin, Fenwick &amp; West LLP</li>
        <li>Video: <a href="resources/videos/VCP/1.html">The VC Presentation: Content and Process</a> - Erik Straser, General Partner</li>
        <li>Speaker Prep: <a href="http://www.fenwick.com/professionals/Pages/dandorosin.aspx">Dan Dorosin</a></li>
    </ul>

                        <hr />
                        <br />
<!--
Week 8  =================================================================================================
-->
<a name="week8"></a>
<h2>Week 8 (Nov. 11th - Nov. 17th)</h2>
<h4>Start-Up Counsel</h4> 
<ul>
    <li>What questions would you ask if you had free time with one of the lead firms for Silicon Valley Start-ups?
        Now's your chance! Special Guest, Dan Dorosin of <a href="http://www.fenwick.com/">Fenwick &amp; West</a> 
        will answer questions on everything from equity splitting, IP considerations and fundraising and procedures for formalizing your start-up.</li>
    </ul>

    <h4>Pitching to Venture Capitalists</h4> 
    <ul>
        <li>Mike and Audrey give you the low-down on how to pitch to VC's from personal experience with special presentation by alumni group mLab.</li>
    </ul>


    <h4>Reading/Speaker Prep</h4>
    <ul>    
        <li>Crossing the Chasm</li>
        <li>Please review the presentation <a href="resources/examples/pitch/Pitching_MDV.ppt">Pitching Mohr Davidow Ventures</a>,
            which will also be discussed in preparation for your pitch.</li>
            <li>Speaker Prep: Come prepared to ask the teaching team great questions about their start-up experience.</li>

        </ul>
                        <hr />
                        <br />
<!--
Week 9  =================================================================================================
-->
<a name="week9"></a>
<h2>Week 9 (Nov. 18th)</h2>

<h4>Entrepreneurship: an Extreme Sport</h4>
<ul>
    <li>Special Guest: Tom Siebel</li>
    <li>Concluding thoughts from the teaching team</li>
</ul>

<h4>Business Model Analysis (Due Nov. 21th)</h4>

<ul>
    <li>Please make sure your concise business canvas analysis is no more than 10 pages (excluding appendices). Be concise and to the point! </li>
    <li>Please submit your business canvas analysis electronically (pdf format) via msande273@gmail.com no later than November 21, by midnight.</li>
    <!--<li>More details can be found <a href="resources/assignments/Assignment 8 - BusinessCanvasExpansion.docx">here</a>.</li>-->
</ul>

<h4>Business Canvas Analysis Example</h4>
<ul>
    <li><a href="resources/examples/business model/OrchardView.pdf">OrchardView, 2012</a></li>
</ul>

<h4>Optional Reading</h4>
<ul>
    <li><a href="http://seven-habits-of-entre-organizations.blogspot.com/2009/02/seven-habits-of-highly-effective.html">7 Habits of Highly Effective Entrepreneurial Organizations</a></li>
</ul>

<!--
Week 10  =================================================================================================
-->
<a name="week10"></a>
<h2>Week 10 (Dec. 2nd - Dec. 5th)</h2>
    <h4>Final Assignment (Due Dec 2)</h4>

    <ul>
        <li>Submit your Team's equity split via msande273@gmail.com no later than Dec 2, by midnight.</li>
        <!--<li>More details can be found <a href="resources/assignments/Assignment 8 - BusinessCanvasExpansion.docx">here</a>.</li>-->
    </ul>


<h3>Dry Run - Tuesday, December 2, Huang 304</h3>
<h3>Dry Run - Wednesday, December 3, Huang 304</h3>
<h3>Final Presentation To VC Panel - December 4 &amp; 5, Y2E2 299</h3>
<ul>
    <li>Submit Final Presentation Slides via msande273@gmail.com to TAs by Friday, Dec. 3, 11:59pm</li>
</ul>

<h4>Final Presentation Examples:</h4>
<ul>
    <li><a href="resources/examples/pitch/mLab_final_presentation.pptx">mLab, 2012</a></li>
    <li><a href="resources/examples/pitch/LEO_final_presentation.pdf">LEO, 2012</a></li>
    <li><a href="resources/examples/pitch/Imago_final_presentation.pptx">Imago, 2012</a></li>
</ul>
</div>
                        <hr />
                        <br />
<!--
Week 10  =================================================================================================
-->
<div>
    <a name="calendar"></a>
    <h2>Calendar</h2>


    <iframe src="https://www.google.com/calendar/embed?src=g9guet4d9o87toqvsr5k1jrt7c%40group.calendar.google.com&ctz=America/Los_Angeles" 
    style="border: 0" width="750" height="600" frameborder="0" scrolling="no"></iframe>
</div>

{% endblock %}