{% extends "base.html" %}
{% block JumbotronContents %}
    <div class="jumbotron jumbo_center">
      <h3>Please feel free to email us for any questions or concerns about the course!</h3> 
    </div>
{% endblock %}


{% block PageContents %}

<div class="row">
  
  <div class="col-lg-4">
     <img class="img-circle" src="assets/img/TAs/michael-heinrich.jpg" style="width: 130px; height: 140px;">
    <h2>Michael Heinrich</h2>
    <p><strong>MS&E Masters<br> 
        Stanford University</strong><br> 
        mheinrich@gmail.com</p>

        <p class="columns"> Michael is dedicating his time to making the world sustainable. Michael helped scale StartupDigest until their acquisition by StartupWeekend. Prior Michael joined Bridgewater Associates, a $150B hedge fund in Westport, CT. Beforehand, he was a management consultant at Bain and Company in San Francisco, working with clients ranging from medium sized to Fortune 500 businesses in the technology, consumer retail, and financial services sectors. He also worked in a product management capacity at SAP and Microsoft, helping shape the strategic vision of xApps Duet as well as MSDN academic alliance and ImagineCup (the world's premier student technology competition).</p>

		<p class="columns">Specialties: Entrepreneurship, growth strategy, new ventures, organization, idea generation, business development, performance improvement</p>

   
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="assets/img/TAs/Francois_Chaubard.png" style="width: 130px; height: 140px;">
    <h2>Francois Chaubard</h2>
    <p><strong>EE Masters <br> 
      Stanford University</strong><br> 
        fchaubar@stanford.edu</p>

      <p class="columns"><strong>Background:</strong> Undergrad ME at University of Delaware. Lockheed Martin Engineering Leadership Development Program for 3 years. Now 2nd yr EE Masters at Stanford. Performing research in the Computer Vision and Geometry Lab in CS Department. </p>
      <p class="columns"><strong>Area of Interest:</strong>  Machine Learning, Computer Vision, and mobile development </p>

  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


{% endblock %}
